.reserve {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.418);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .roomContainer{
    width: 450px;
    background-color: #fff; 
    border-radius: 1rem; 
    text-align: center;
    color: var(--n-dark-blue);
    margin-bottom: 1rem; 
  }
  .hero{
    width: 26rem;
    border-radius: 10px;
    margin-top: 20px;
  }
  .summeryDescription {
    color: black;
    padding-bottom: 1rem;  
    font-size: 16px; 
}

.summeryTitle {
    padding: 1rem 0 1rem 0; 
    font-weight: 900;  
}


.room {
    display: flex;
    flex-direction: column;
}

.roomInfo {
    padding-left: 1rem; 
    text-align: left; 
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;  
    margin: auto;   
    font-size: 1rem; 
    outline: none;
    border: none; 
    background: none; 
    padding: 1rem 1.5rem;
    border-radius: 1rem; 
    font-weight: 700;
    cursor: pointer;     
}


.proceedBtn {
    color: black;
    margin-bottom: 2rem; 
}

.proceedBtn:hover {
    background-color: blue;
}

.cancelBtn {
    margin-bottom: 2rem;
    color: var(--n-desaturated-blue);
}

  