.list {
    display: flex;
    width: 100%;
}
    .listContainer {
      flex: 6;
    }
    .tableRoom {
      width: 100%;
      height: 70vh;
      display: flex;
      }
      
      table {
      border: 2px solid forestgreen;
      width: 100%;
      height: 100px;
      }
      
      th {
      border-bottom: 1px solid black;
      }
      
      td {
      text-align: center;
      }
      
 